body {
  /* My closest guess at the font */
  font-family: "Avenir Next";
}

h1 {
  font-size: 50px;
  margin-bottom: -10px;
}

h3 {
  font-size: 22px;
  text-align: center;
}

p {
  font-size: 22px;
}

.mainContainer {
  margin: 50px;
}

.imagesContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}

.butterfly {
  flex-direction: column;
}

.imgBox {
  width: 300px;
  height: 300px;
  border-radius: 15px;
  overflow: hidden;
}
